html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #1b1b1b;
    color: white;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  h1{
    text-align: center;
  }
  
  .project-github{
    display: grid;
    place-items: center;
  }
  
  .project-github p{
    font-weight: bold;
  }


  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    background-color: #50d950;
    color: #1b1b1b;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-left: 5px;
  }
  
  button:hover {
    background-color: #3cb43c;
  }
  
  input[type="date"]{
    margin-top: 20px;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    background-color: #50d950;
    color: #1b1b1b;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
  }
  
  input[type="date"]:hover {
    background-color: #3cb43c;
  }
  
 label{
    font-weight: bold;
    margin-right: 5px;
 }

.div-flex{
  display: grid;
  place-items: center;
}


/* Estilo de loader */
/* ----------------------------------*/
/* Copyright - 2024 david-mohseni (David Mohseni)  */
.loader {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 10px;
}

.loader div {
  width: 8%;
  height: 24%;
  background: rgb(128, 128, 128);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}
/* ----------------------------------*/


/* Estilo para el contenedor del gráfico */
.js-plotly-plot {
    background: #333 !important; /* Fondo gris oscuro */
    border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  }
  
  /* Estilos para el texto dentro del gráfico */
  .js-plotly-plot .plotly .main-svg text {
    fill: white !important; /* Texto en color blanco */
  }
  
  /* Estilos para los ejes */
  .js-plotly-plot .plotly .main-svg .xtick text,
  .js-plotly-plot .plotly .main-svg .ytick text {
    fill: white !important; /* Texto de los ejes en blanco */
  }
  
  /* Estilos para las líneas de los ejes */
  .js-plotly-plot .plotly .main-svg .xaxis .gridlayer path,
  .js-plotly-plot .plotly .main-svg .yaxis .gridlayer path {
    stroke: rgba(226, 222, 222, 0.2) !important; /* Líneas de la cuadrícula en blanco semi-transparente */
  }
  
  /* Estilos para el título del gráfico */
  .js-plotly-plot .plotly .main-svg .titletext {
    fill: white !important;
  }
  
  /* Estilos para la leyenda */
  .js-plotly-plot .plotly .legend text {
    fill: white !important;
  }

  .plot-container {
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Aspect ratio 4:3 */
    position: relative;
  }
  
  .plot-container .js-plotly-plot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  @media (max-width: 600px) {
    .plot-container {
      padding-bottom: 100%; /* Aspect ratio 1:1 en móviles */
    }
    
  }